﻿@model DVDLibrary.Models.Dvd

@{
    ViewBag.Title = "Display Dvd";
}

<h2>Displaying Dvd</h2>

<div>
    <h4>Dvd</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>

    </dl>
</div>
<p>
   @* @Html.ActionLink("Edit", "Edit", new { id = Model.DvdId }) |*@
    @Html.ActionLink("View Borrower information", "DisplayBorrowerForDvd", new { id = Model.DvdId })
    @Html.ActionLink("Back to List", "DisplayAllDvds", new {id = Model.DvdId})
</p>
