﻿@model IEnumerable<DVDLibrary.Models.View_Models.BorrowerViewModel>

@{
    ViewBag.Title = "DisplayBorrowerForDvd";
}

<h2>DisplayBorrowerForDvd</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive table-striped">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Dvd.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dvd.Title)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.DvdBorrower.TimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DvdBorrower.TimeEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DvdBorrower.BorrowerNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DvdBorrower.BorrowerRatingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Borrower.BorrowerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Borrower.BorrowerName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Dvd.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dvd.Title)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DvdBorrower.TimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DvdBorrower.TimeEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DvdBorrower.BorrowerNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DvdBorrower.BorrowerRatingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrower.BorrowerId)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.Borrower.BorrowerName)
            </td>

            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.DvdId }) |*@
           @*     @Html.ActionLink("Details", "DisplayDvd", "Home", new { id = item.Dvd.DvdId }, null)*@
                @*@Html.ActionLink("Delete", "Delete", new { id=item.DvdId })*@
            </td>
        </tr>
    }

</table>
