﻿@model IEnumerable<DVDLibrary.Models.View_Models.DvdViewModel>

@{
    ViewBag.Title = "Display All DVDs";
}
<div>
    <h2>
        All Movies
        @Html.ActionLink("Add new Movie", "AddNewDvd", "Home", null, new { @class = "btn btn-default" })
    </h2>
</div>

<div>
    <h4>@Model.Count() results</h4>
</div>
<br/>
        @foreach (var item in Model)
        {
            <div class="col-lg-4 text-center">
                <img class="img-responsive" src="@Url.Content(item.Dvd.Link)" alt="Image" style="width: 95%; height: 85%; max-height: 492px;" />
                @Html.ActionLink("Details", "DisplayDvd", "Home", new {id = item.Dvd.DvdId}, null) | @Html.ActionLink("Delete", "RemoveDvd", "Home", new {id = item.Dvd.DvdId}, null)
                <h3>@Html.DisplayFor(modelItem => item.Dvd.Title)</h3>
                <h4>@Html.DisplayFor(modelItem => item.Dvd.ReleaseDate)</h4>           
                <h4>@Html.DisplayFor(modelItem => item.Studio.StudioName)</h4>
                <h4>@Html.DisplayFor(modelItem => item.MpaaRating.MpaaRatingName)</h4>
                <h4>@Html.DisplayFor(modelItem => item.Dvd.UnitsInStock) In Stock</h4>
                <br/>
            </div>
        }

