﻿@model ModelValidationSample.Models.Appointment

@{
    ViewBag.Title = "Completed";
}
<h2>Your Appointment is confirmed</h2>

<p>Your name is: <b>@Html.DisplayFor(m => m.ClientName)</b>
</p>

<p>The date of your appointment is: <b>@Html.DisplayFor(m => m.Date)</b>
</p>