﻿@model ViewOrganizationSample.Models.Player
@{
    ViewBag.Title = "Roster";
}

<h2>Roster</h2>

<table>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>Player: </td>
                <td></td>
            </tr>
        }

    </tbody>
</table>

