﻿@model SGCorpJobSite.Models.JobApplicant

@{
    ViewBag.Title = "ApplyForJob";
}

<h2>Apply</h2>

@*<td>@Html.ActionLink("Add Resume", "AddResume", "Home", new { m = m.jobId }, new { @class = "btn btn-primary" })</td>*@

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.JobId)  @*Used so that the specific Job is known in the view*@

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.Applicant.FirstName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Applicant.FirstName, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Applicant.LastName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Applicant.LastName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Applicant.Email, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(m => m.Applicant.Email, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Applicant.Phone, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(m => m.Applicant.Phone, new {@class = "form-control"})
        </div>
    </div>

    @*
    <div class="form-group">
        @Html.LabelFor(m => m.Applicant.Resume, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Applicant.Resume, new { @class = "form-control" })
        </div>
    </div>
    *@


    @*
    TEST: In this case, applicant list will be initialized since you filled out a field
        that will populate this list property, but won't have any job information in it
        because its job wasn't set by ID

    <div class="form-group">
        @Html.LabelFor(m => m.Job.ApplicantList[0].Applicant.FirstName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Job.ApplicantList[0].Applicant.FirstName, new { @class = "form-control" })
        </div>
    </div>
    *@

    <div class="form-group">
        @Html.LabelFor(m => m.Applicant.City, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(m => m.Applicant.City, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Applicant.State, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(m => m.Applicant.State, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Applicant.Zip, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Applicant.Zip, new { @class = "form-control" })
        </div>
    </div>

    <h2>Your Resume:</h2>

    <div class="form-group">
        @Html.LabelFor(m => m.Applicant.Resume.Objective, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Applicant.Resume.Objective, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Applicant.Resume.JobExperience, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Applicant.Resume.JobExperience, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Applicant.Resume.Education, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Applicant.Resume.Education, new { @class = "form-control" })
        </div>
    </div>

    @*
    public Resume Resume { get; set; }
    public List<Job> JobsApplied { get; set; }
    *@

    <input type="submit" value="Create" class="btn btn-default" />
</div>
}