﻿@model List<SGCorpJobSite.Models.Job>
@{
    ViewBag.Title = "JobsListing";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Jobs Listing</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table" style="width: auto;">
            <thead>
                <tr>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var job in Model)
                {
                    <tr>
                        <td>@job.Title</td>
                        <td>@job.Description</td>
                        <td>@Html.ActionLink("Apply", "ApplyForJob", "Home", new { id = job.JobId }, new { @class = "btn btn-primary" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>