﻿<div class="modal fade" id="addTeamModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">AddNewTeam</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <h3>Add a New Team</h3>
                        <div class="form-group">
                            <label>Team Textarea test</label>

                            @*<input type="text" id="name" class="form-control" />*@
                            <textarea id="name" @*ng-model="name"*@ class="tinyMCEtest" rows="10" cols="50"></textarea>
                        </div>

                        @*<div ng-app="">
                            <textarea id="name2" ng-model="name2" class="tinyMCEtest" rows="10" cols="50"></textarea>
                            <p>You wrote: {{ name2 }}</p>

                        </div>*@

                        <div class="form-group">
                            <label>Manager</label>
                            <input type="text" id="manager" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>League</label>
                            <input type="text" id="league" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnSaveTeam" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

