﻿@model ModelBindingSample.Models.Person

@{
    ViewBag.Title = "BindComplexClassTypes";
}

<h2>BindComplexClassTypes</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.PersonId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.PersonId, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(m => m.LastName, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Address.City, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(m => m.Address.City, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Address.State, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(m => m.Address.State, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Address.Zip, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Address.Zip, new { @class = "form-control" })
            </div>
        </div>

        <input type="submit" value="create" class="btn btn-default">
    </div>
}
