﻿@model BaseballLeague.Models.Team

@{
    ViewBag.Title = "CreateTeam";
}

<h2>Create a Team</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Team</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.TeamName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeamName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.TeamName, "", new {@class = "text-danger"})
            </div>
        </div>

        @*<label class="control-label col-md-2">Select an MPAA Rating:</label>*@
        @*@Html.DropDownListFor(m => m.RatingId, Model.RatingItems, "-Choose One-", new { @class = "form-control" })*@

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.LeagueId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.LeagueId, Model.RatingItems, "-Choose One-", new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.LeagueId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Manager, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Manager, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Manager, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
