﻿            <!--fully qualified type-->      
@model List<ContactList.Models.Contact> 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
<div>
    <h1>My Contacts</h1>
    @*<h3><a href="/home/add">Add a contact</a></h3>*@
    <h3>@Html.ActionLink("Add a Contact", "Add", "Home")</h3> <!--This is just a link to the add view-->

    @if (Model.Any())
    {
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var contact in Model)
            {
                <tr>
                    <td>@contact.Name</td>
                    <td>@contact.PhoneNumber</td>
                    <td>@Html.ActionLink("Edit", "Edit", "Home", new {id = @contact.ContactId}, null)</td>
                    <td>@Html.ActionLink("Remove", "RemoveContact", "Home", new {id = @contact.ContactId}, null)</td>
                </tr>                   //link text, action name, route values, html attributes
            }
            </tbody>
        </table>
    }
    else
    {
        <p>You don't have any friends, so sad!</p>
    }

</div>
</body>
</html>
