﻿@model List<Exercises.Models.Data.State>
@{
    ViewBag.Title = "States";
}
<div class="row">
    <div class="col-xs-12">
        <h2>States</h2>
        @Html.ActionLink("Add State", "AddState", "Admin")
    </div>
</div>


<div class="row">
<div class="col-xs-12">

    <table class="table table-striped" style="width: auto;">
        <thead>
            <tr>
                <td>State Abbreviation</td>
                <td>State Name</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var state in Model)
            {
                <tr>
                    <td>@state.StateAbbreviation</td>
                    <td>@state.StateName</td>
                    <td>@Html.ActionLink("Edit", "EditState", "Admin", new { id = state.StateAbbreviation }, null) | 
                    @Html.ActionLink("Delete", "DeleteState", "Admin", new { id = state.StateAbbreviation }, null)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>