﻿@model SGCorpJobSite.Models.ViewModels.AddPolicyVM

@{
    ViewBag.Title = "AddPolicyVM";
}

<h2>Add a new policy</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div class="form-group">
            <label>Select a category:</label>
            @Html.DropDownListFor(m => m.NewPolicy.CategoryId, Model.CategoryItems, "-Choose One-", new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.NewPolicy.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewPolicy.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewPolicy.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPolicy.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewPolicy.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewPolicy.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
*@