﻿@model SGCorpJobSite.Models.Job
@{
    ViewBag.Title = "ApplicantsListing";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Applicants Listing</h2>
        @*@Html.ActionLink("Add Major", "AddMajor", "Admin", null, new { @class = "btn btn-primary" })*@
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table" style="width: auto;">
            <thead>
                <tr>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var jobApplicant in Model.ApplicantList)
                {
                    <tr>
                        <td>@jobApplicant.Applicant.FirstName</td>
                        <td>@jobApplicant.Applicant.LastName</td>
                        <td>@Html.ActionLink("View Resume", "ResumeListing", "Admin", new { id = jobApplicant.Applicant.ApplicantId }, null)</td>
                        @*<td>@Html.ActionLink("Apply", "ApplyForJob", "Home", null, new { @class = "btn btn-primary" })</td>*@
                        @*<td>@Html.ActionLink("View Applicants", "ApplicantsListing", "Admin", new { id = job.JobId }, null)</td>*@

                    </tr>                                                           //routevalues is null because you aren't passing anything to the application view
                }
            </tbody>
        </table>
    </div>
</div>