﻿@model SGCorpJobSite.Models.Category

@{
    ViewBag.Title = "Category Selection";
}

<h2>Category Selection</h2>
@*
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Policies)
{
    <tr>
        <td>@item.Title</td>
        @*<td>@item.Content</td>*@
        <td>@Html.ActionLink("View Document", "Edit", new { id = Model.CategoryId })</td>
    </tr>
}

</table>
