﻿@using SGCorpJobSite.Models
@model List<SGCorpJobSite.Models.Job>
@{
    ViewBag.Title = "JobsListingAdmin";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Jobs Listing</h3>
        @Html.ActionLink("Add New Opening", "AddNewJob", "Admin", null, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table" style="width: auto;">
            <thead>
                <tr>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var job in Model)
                {
                    <tr>
                        <td>@job.Title</td>
                        <td>@job.Description</td>
                        <td>@Html.ActionLink("View Applicants", "ApplicantsListing", "Admin", new {id = job.JobId}, null)</td>                        
                        <td>@Html.ActionLink("Edit", "ModifyJob", "Admin", new { id = job.JobId }, null /*, new { @class = "btn btn-primary"}*/ )</td>
                        <td>@Html.ActionLink("Delete", "DeleteJob", "Admin", new { id = job.JobId }, null)</td>
                </tr>          //routevalues is null when you aren't passing anything to the application view
                }
            </tbody>
        </table>
    </div>
</div>