﻿@model SGCorpJobSite.Models.ViewModels.PolicyVM

@{
    ViewBag.Title = "ManagePolicies";
}

<h2>Manage Policies</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
        @using (Html.BeginForm("ManagePolicies", "Admin", new { id = Model.Category.CategoryId }))
        {
            <div class="form-group">
                <label>Select a category:</label>
                @Html.DropDownListFor(m => m.Category.CategoryId, Model.CategoryItems, "-Choose One-", new { @class = "form-control" })
                <button type="submit" name="viewPolicies" value="View" class="btn btn-sm btn-primary">View</button>

                <h3>OR</h3>
                <button type="submit" name="addNewPolicy" value="Add New Policy" class="btn btn-sm btn-primary">Add new policy</button>
            </div>
        }
        </div>
    </div>
</div>
}

@*
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
*@