﻿@model SGCorpJobSite.Models.Resume

@{
    ViewBag.Title = "ResumeListing";
}

<h2>Resume:</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Objective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobExperience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ResumeId }) |*@
    @Html.ActionLink("Back to List", "ResumeListingBack", "Admin")
</p>
