﻿@model SGCorpJobSite.Models.ViewModels.PolicyVM

@{
    ViewBag.Title = "ViewCategories";
}

<h2>View Policies</h2>
@using(Html.BeginForm("CategorySelection","Admin", new { id = Model.Category.CategoryId })){

<div class="form-group">
    <label>Select a category:</label>
    @Html.DropDownListFor(m => m.Category.CategoryId, Model.CategoryItems, "-Choose One-", new {@class = "form-control"})
    @*@Html.ActionLink("View", "CategorySelection", "Admin", new {id = Model.Category.CategoryId}, new {@class = "btn btn-primary"})*@
    <button type="submit" class="btn btn-sm btn-primary">View</button>
</div>
}


