﻿
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <h3>All Teams</h3>
        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("_AddTeamModal")
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm" id="btnShowAddTeam">Add Team</button><br /><br />
        <table id="teams" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Manager</th>
                    <th>League</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script>
        var teamPath = '/api/teams/';

        function loadTeams() {
            $.getJSON(teamPath)     //get the JSON version of all the list of objects in teampath represented in XML
                .done(function(data) {

                    $('#teams tbody tr').remove(); //fetches all of the current items

                    $.each(data,
                        function(index, team) {
                            $(createRow(team)).appendTo($('#teams tbody'));
                        });
                });
        };

        function createRow(team) {
            return '<tr><td>' +
                team.TeamName +
                '</td><td>' +
                team.Manager +
                '</td><td>' +
                team.League +
                '</td></tr>';
        };

        $(document)
            .ready(function() {
                loadTeams();
            });
    </script>

    <script src="~/Scripts/tinymce/tinymce.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>

    <script src="~/Scripts/app/AddTeam.js"></script>
}


